<% content_for :title, "Editing todo" %>

<div class="mb-8">
  <h1 class="text-3xl font-bold text-gray-900">Edit Todo</h1>
  <p class="mt-2 text-sm text-gray-600">Update todo information.</p>
</div>

<%= render "form", todo: @todo %>

<div class="mt-6">
  <%= link_to "Show this todo", @todo, class: "text-sm text-indigo-600 hover:text-indigo-800 mr-4" %>
  <%= link_to "Back to todos", todos_path, class: "text-sm text-gray-500 hover:text-gray-700" %>
</div>
